body {
    border: none !important;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}

html {
    position: absolute;
    height: calc(100% - 0px);
    width: calc(100% - 0px);

    /*border: ridge 5px #666566;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
    overflow: hidden;
}

.menu_body {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 100%;
    z-index: 100;

}

.menu {
    position: absolute;
    margin-top:-5px!important;
    height: 16px;

    z-index: 100;
    background: none !important;
    border: none !important;
    overflow: visible !important;
}

.menu_font {
    position: relative;
    font-size: 10px;
    height: 10px;
    padding-bottom: 2px !important;
    line-height: 1!important;
}


.item_font {
    position: relative;
    font-size: 10px;
    padding: 0 !important;
    line-height: 2 !important;
}

.icon_bar {

    position: absolute;
    left: 0;
    top: 20px;
    height: 28px;
    width: 100%;
    z-index: 50;
}

.img_iconbar {
    height: 20px;
    width: 20px;
    padding: 4px;
    text-align: center;
    border: 1px solid transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}

.main {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0px;
    height: calc(100% - 50px);
    width: 100%;
    margin: 0 !important;

}

.toolbox_body {
    position: absolute !important;
    width: 150px;
    top: 30px;
    height: calc(100% - 30px);
    overflow: hidden !important;

}

.multiselect_toolbox{
    height: 30px!important;
    width:  150px!important;

    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;

}

.toolbox_slider_body {
    position: absolute !important;
    width: 25px;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.toolbox_slider {
    position: absolute !important;
    width: 23px;
    top: 12px;
    right: 4px;
    height: calc(100% - 24px) !important;

}

.helper {
    position: absolute;
    z-index: 1000;
    text-align: center;
    transform: scale(1.18) !important;
    -ms-transform: scale(1.18) !important;
    -webkit-transform: scale(1.18) !important;

}

.toolbox {
    position: absolute;
    width: 130px !important;
    min-height: 1000px;
    top: 0;
    height: 100%;
    text-align: center;
    display: inline-block;
}






.fbs {
    width: 120px;
    height: 75px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: #00ffff;

    transform: scale(0.9);
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari and Chrome */

}

.prg_body {
    position: absolute !important;
    top: 0;
    left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    overflow: hidden;

    background-color: transparent !important;
}

.prg_panel {
    position: relative;
    width: 4000px;
    height: 2000px;
    padding: 3px;
    border: 3px solid #000000;
    outline: 3px solid #ffffff;

}

.fbs_element {
    position: absolute;
    width: 90px;
    min-height: 30px;
    height: auto;

    margin: auto;
    /*z-index: 105;*/
    text-align: center;

    background-color: #ffffff;
    border: 2px solid #00ffff;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    z-index: 3;

}

.fbs_element_io{
    width: 120px;
    height: 30px;
}
.btn_input_ch{
position: absolute;
    clear: both;
    right: 5px;
    top: 2px;
    height: 11px;
    width: 11px;
}

.div_head {


    height: 15px;

    background-color: #ffffff;
    border-bottom: 2px solid #00ffff;

    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;


}

.div_foot {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.head_font {
    height: auto;
    color: black !important;
    font-size: 14px;
    margin:0;
}

.input_font {
    position: relative;
    color: black !important;
    top: 8px;
    left: 1px;
    font-size: 8px;

}

.output_font {
    position: relative;
    color: black !important;
    top: calc(50% - 3px);
    right: 2px;
    font-size: 8px;
}

.div_input {
    text-align: left;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.div_output1 {
    text-align: left;
    float: right;
    height: 100%;
}

.div_output2 {
    float: right;

    height: 50%;
}

.div_output3 {
    float: right;

    height: 33%;
}

.div_output4 {
    float: right;

    height: 33%;
}

.div_left {
    width: 30px;
}

.div_right {
    text-align: right;
    position: absolute;
    top: 15px;
    right: 0px;
    height: calc(100% - 15px);
    width: 30px;
    vertical-align: middle;
}

.btn_add_input {
    width: 16px;
    height: 16px;
    background-image: url(../img/plus.png);
    border: none;
    background-color: transparent;
}

._jsPlumb_endpoint {

    z-index: 2;
}

._jsPlumb_connector {
    z-index: 1;

}

.fbs_selected {
    /* TODO box shadow anpassen*/
    -webkit-box-shadow: 0px 0px 8px #0ff7ff; /* webkit browser*/
    -moz-box-shadow: 0px 0px 8px #0ff7ff; /* firefox */
    box-shadow: 0px 0px 8px #0ff7ff;
}

.und {
    width: 100px;
    height: 68px;
    background: transparent url("../img/FBS/uni.png");
}

.icon_set {

    margin-top: 0;
    height: 31px;

    display: inline;
    border-right: 1px solid;
}

.ui-helper-hidden{
    z-index:900
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*Scrollbar Horizontal*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#scrollbar_body_h {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px !important;
    z-index: 300;
}

.scroll_bar_h {
    position: absolute !important;
}

.scrollbar_wrap_h {
    position: absolute;
    bottom: 2px;
    left: 0px;
    width: calc(100% - 22px);
    height: 14px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scroll-bar-wrap_h .ui-slider {
    border: 0;
    height: 14px;
    margin: 0 auto;
}

.scroll-bar-wrap_h .ui-handle-helper-parent {
    position: relative;
    width: 100%;
    height: 1px;
    margin: auto;
}

.scroll-bar-wrap_h .ui-slider-handle {
    top: 1px !important;
    height: 1.5em;
}

.scroll-bar-wrap_h .ui-slider-handle .ui-icon {
    margin: -8px auto 0;
    position: relative;
    top: 50%;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*Scrollbar Vertical*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#scrollbar_body_v {
    position: absolute;
    top: 0px;
    right: 0;
    height: calc(100% - 0px);
    width: 20px !important;
    z-index: 300;
}

#scrollbar_body_toolbox {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 0px);
    width: 20px !important;
}

.scroll_bar_v {
    position: absolute !important;
}

.scrollbar_wrap_v {
    position: absolute;
    top: 10px !important;
    left: 2px;
    height: calc(100% - 30px);
    width: 14px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scroll-bar-wrap_v .ui-slider {
    border: 0;
    width: 14px;
    margin: 0 auto;
}

.scroll-bar-wrap_v .ui-handle-helper-parent {
    position: relative;
    height: 100%;
    width: 1px;
    margin: auto;
}

.scroll-bar-wrap_v .ui-slider-handle {
    left: 1px !important;
    width: 1.5em;
}

.scroll-bar-wrap_v .ui-slider-handle .ui-icon {
    margin: auto;
    position: relative;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*HM Select Dialog*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
