html {
    position: absolute;
    height: 100%;
    width: calc(100% - 2px);
    margin: 0 !important;
    padding: 0 !important;;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    border: none !important;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    visibility: hidden;

}

.menu_body {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: calc(100% - 2px) !important;
    z-index: 100;
}

.menu {
    position: absolute;
    margin-top: -5px !important;
    height: 16px;
    min-width: 400px;
    z-index: 100;
    background: none !important;
    border: none !important;
    overflow: visible !important;
}

.menu_font {
    position: relative;
    font-size: 10px;
    height: 10px;
    padding-bottom: 2px !important;
    line-height: 1 !important;
}

.item_font {
    position: relative;
    font-size: 10px;
    padding: 0 !important;
    line-height: 2 !important;
}

.icon_bar {
    position: absolute;
    left: 0;
    top: 20px;
    height: 28px;
    width: calc(100% - 2px);
    z-index: 50;
    overflow: hidden;
}

.img_iconbar {
    height: 21px;
    width: 21px;
    margin-top: 1px;
    padding: 2px;
    text-align: center;
    border: 1px solid transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.script_engine {
    float: right;
    margin-right: 10px;
}

.main {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    height: calc(100% - 50px);
    width: 100%;
    margin: 0 !important;
}

.toolbox_body {
    position: absolute !important;
    width: 150px;
    top: 30px;
    height: calc(100% - 30px);
    overflow: hidden !important;
}

.multiselect_toolbox {
    height: 30px !important;
    width: 150px !important;

    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.ui-multiselect-checkboxes {
    overflow: hidden !important;
    height: 100% !important;
}

.toolbox_slider_body {
    position: absolute !important;
    width: 25px;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.toolbox_slider {
    position: absolute !important;
    width: 23px;
    top: 12px;
    right: 4px;
    height: calc(100% - 24px) !important;
}

.helper {
    position: absolute;
    z-index: 1000;
    text-align: center;
    transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
}

.toolbox {
    position: absolute;
    width: 130px !important;
    min-height: 1000px;
    top: 0;
    height: 100%;
    text-align: center;
    display: inline-block;
}

.prg_body {
    position: absolute !important;
    top: 0;
    left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    overflow: hidden;
    background-color: transparent !important;
}

.prg_panel {
    position: relative;
    width: 4000px;
    height: 2000px;
    padding: 3px;
    border: 3px solid #000000;
    outline: 3px solid #ffffff;
}

.btn_input_ch {
    position: absolute;
    clear: both;
    right: 5px;
    top: 2px;
    height: 11px;
    width: 11px;
}

._jsPlumb_overlay{
    z-index: 3;
}

._jsPlumb_endpoint {
    z-index: 2 !important;
}

._jsPlumb_connector {
    z-index: 1;
}

.icon_set {
    margin-top: 0;
    height: 31px;

    display: inline;
    border-right: 1px solid;
}

#m_file_lb {
    float: right;
    margin-right: 3px;
}

#m_file {
    float: right;
    margin-right: 20px;
}

.ui-helper-hidden {
    z-index: 900
}

.CodeMirror {
    height: 100% !important;
}

.ui-front {
    z-index: 1000 !important;
}

.quick-help {

    height: auto !important;
    font-size: 10px;
}

.quick-help_content {
    font-size: 11px !important;
}

.tb_parent {

    height: 16px !important;
    max-height: 16px !important;
    width: 200px !important;
    vertical-align: middle !important;

}

.tree {
    vertical-align: middle !important;


}

.tb-icon {
    display: inline-block !important;
    width: 16px !important;
    height: 16px !important;
    margin-right: 5px;
    vertical-align: middle !important;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*MBS_Element*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.mbs {


    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;




}

.mbs_element {
    position: absolute !important;;
    width: 60px;
    min-height: 40px;
    height: auto;

    margin: auto;

    text-align: center;

    background-color: #ffffff;
    border: 1px solid #00ffff;

    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

    z-index: 3;
}

.mbs_element_codebox {
    position: absolute;
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    border: dotted 2px #00ffff;
    background-color: transparent !important;;
    z-index: 3 !important;
    width: auto;
    height: auto;
}
.ui-resizable-handle {
    z-index: 3 !important;
}

.prg_codebox {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 170px;
    min-height: 100px;

    width: 100%;
    height: 100%;
    overflow: visible;

}

.titel_body {

    margin-top: -10px;
    height: 10px;
    width: 100%;
    text-align: left;
    cursor: move;
}

.titel_body_2 {
    position: absolute !important;
    margin-left: -8px !important;

    height: 100% !important;
    width: 10px !important;

}

.titel_codebox {
    position: absolute;
    margin-left: 10px;
    font-size: 15px !important;
    border: none;
    min-width: 30px !important;
    height: 25px;
    background-color: transparent;
    top: -5px !important
}

.mbs_element_trigger {
    min-height: 18px !important;
    width: auto !important;
    min-width: 120px;
    overflow: hidden;
    flex-wrap: wrap;
}

.btn_min_trigger {
    position: absolute;
    right: 5px;
    top: 3px;
    padding-top: 1px;
    height: 10px;
    width: 10px;
}
.tr_ch_body{
    border-bottom: 1px solid #00FFFF;
    display: flex;
    height: 17px !important;
    overflow: hidden;
    align-items: center;
    justify-content: center;

}
.inp_time {
    width: 65px;
    font-weight: bolder;
    font-size: 12px;
    text-align: center;
    border: none;
    padding: 0;
    display: inline-block;
    padding-bottom: 0;
    padding-top: 0px;
}
.inp_astro{
    font-size: 12px;
    border: none;

}

.inp_day{

    border-bottom: none;
    display: inline-block;
    height: 18px;
    border-left: solid 1px cyan;
    border-left-style: solid;
    border-left-width: 1px;
    border-top: none;
    margin: 0 1px 0 0;
    padding: 0;
    width: auto;
    border-right: none;
    font-size: 12px;

}

.tr_time{

}
.div_hmid_trigger{

}
.inp_min {
    display: flex;
    width: 40px;
    color: #000000;
    font-weight: bolder;
    font-size: 12px;
    text-align: center;

    border: none;

}

.inp_wert {
    position: relative;
    display: inline-block;
    height: 12px;
    min-width: 40px;
    width: 40px;
    color: #000000;
    font-weight: bolder;
    font-size: 12px;

    text-align: center;
    margin-right: 5px;

    border: ridge 2px #00ffff;

}

.inp_peri {
    display: flex;
    height: 17px;
    min-width: 60px;
    width: 63px;
    color: #000000;
    font-weight: bolder;
    font-size: 11px;
    text-align: center;
    border: none;
    border-color: #00FFFF !important;
    border-right: none;
    border-style: solid;
    border-top: medium none;
    border-width: 0px 1px 0px 0px;
    border-image: none;

}

.inp_val {
    font-size: 11px;
}
.inp_if {
    font-size: 12px;
    text-align: center;
    width: 60px;
    max-width: 60px;
    font-weight: bolder;
    height: 18px;
}

.mbs_element_kommentar {
    display: inline-block;
    border: none;
    z-index: 100 !important;
    min-height: 0px !important;
    width: auto;
    height: auto;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: yellow;
    cursor: move;

}

.komex {
    margin: 5px;
    min-height: 15px!important;
    height: 15px;
    font-weight: bolder;
    border: dotted 1px #000000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: transparent;

}

.btn_min_trigger {
    cursor: default;
    right: 5px;
    top: 3px;
}

.delay{
    background-color: red;
    border: dashed 0px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    text-align: center;
}

.delay_head{

    font-weight: bold;
    color: black !important;
    font-size: 10px;
    margin: 0;
    height: 11px;

}
.delay_var{
    font-size: 10px;
    height: 11px;
    width: 60px;
    text-align: center;
    border: 0px;

    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;

    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;

}


.hide_context{
    visibility: hidden;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*FBS_Element*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.fbs {

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

}

.fbs_selected {
    /* TODO box shadow anpassen*/
    -webkit-box-shadow: 0 0 15px #0ff7ff; /* webkit browser*/
    -moz-box-shadow: 0 0 15px #0ff7ff; /* firefox */
    box-shadow: 0 0 15px #0ff7ff;
    border-color: cyan;
}

.mbs_selected {
    /* TODO box shadow anpassen*/
    -webkit-box-shadow: 0 0 15px cyan; /* webkit browser*/
    -moz-box-shadow: 0 0 15px cyan; /* firefox */
    box-shadow: 0 0 15px cyan;
    border-color: cyan;
}

.fbs_element {
    position: absolute !important;
    width: 60px;
    height: auto;

    margin: auto;

    text-align: center;

    background-color: #ffffff;
    border: 1px solid #00ffff;

    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

    z-index: 5;
}

.fbs_element_io {
    display: flex;
    height: 17px !important;
    white-space: nowrap;
    width: auto !important;
    overflow-y: hidden;
    overflow: hidden;
    align-items: center;
}
.fbs_element_io_liste {
    display: flex;
    height: 17px !important;
    white-space: nowrap;
    width: auto !important;
    overflow-y: hidden;
    overflow: hidden;
    align-items: center;
}

.fbs_element_string {
    position: relative;
    display: inline-block;
    height: auto;
    min-height: 18px !important;
    white-space: nowrap;
    width: auto !important;
    overflow-y: hidden;
}

.fbs_element_next {

    width: 50px !important;
    height: 18px !important;
    background-color: red;
}

.head_next {
    height: auto;
    margin-top:  2px;
    font-weight: bold;
    color: black !important;
    font-size: 11px;
    cursor: move;
}

.fbs_element_tr {
    display: flex;
    height: 18px !important;
    white-space: nowrap;
    width: auto !important;
    overflow-y: hidden;
    align-items: center;
    max-height: 18px !important;
}

.div_io_out {
    position: absolute;
    left: 0;
    height: 18px;

}

.div_io_out_string {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

}

.div_io_in {
    position: relative;
    right: 0;
    top: 0px;
    height: 18px;

}

.trig_info {
    height: 175px;
}

.head_font_io {
    font-weight: bold;
    color: black !important;
    font-size: 11px;

    display: flex;
    margin-top: -10px;
    margin: 0;

}

.head_font_io_string {
    position: absolute;
    top: calc(50% - 19px);
    left: 1px;
    font-weight: bold;
    color: black !important;
    font-size: 11px;
}

.div_head_right {
    display: flex;
    width: 35px;
    cursor: move;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div_head_right_string {
    position: absolute;
      height: 100%;
    top: 0;
    right: 0;
    width: 25px;
    cursor: move;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.div_head_left {
    display: flex;
    width: 30px;
    cursor: move;

    -moz-border-radius-topleft: 6px;

    -webkit-border-top-left-radius: 6px;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.div_head {
    height: 18px !important;
    border-bottom: 0 solid #00ffff;
    cursor: move;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    overflow: hidden;

}

.div_left {
    width: 20px;
    position: relative;
}

.div_left_io {
    position: relative;
    top: -3px;
    width: 20px;
    height: 100%;
}

.div_right {
    text-align: right;
    position: absolute;
    top: 18px;
    right: 0;
    height: calc(100% - 18px);
    width: 20px;
    vertical-align: middle;
}
.div_right_if {
    text-align: right;
    position: absolute;
    top: 28px;
    right: 0;
    height: calc(100% - 31px);
    width: 20px;
    vertical-align: middle;
}

.div_right_string {
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    width: 20px;
    vertical-align: middle;
}

.div_right_io {
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0;
    height: 18px;
    width: 20px;
}

.div_output_left {
    text-align: left;
    position: absolute;

    left: 0;
    height: 100%;
    width: 20px;
    vertical-align: middle;
    top: 0;
}

.head_font {
    font-weight: bold;
    color: black !important;
    font-size: 13px;
    cursor: move;
    position: relative;
    top: 0px;
    margin: 0;
}

.input_font {
    position: relative;
    color: black !important;

    top: 3px;
    left: 1px;
    font-size: 10px;
}

.input_font_big {
    position: relative;
    color: black !important;

    top: 2px;
    left: 1px;
    font-size: 11px;
}

.output_font {
    position: relative;
    color: black !important;
    top: calc(50% - 6px);
    right: 2px;
    font-size: 10px;
}

.div_hmid {
    display: flex;
    height: 18px;
    min-width: 50px;
    color: #000000;
    font-size: 10px;
    white-space: nowrap;
    clear: both;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding: 0 5px;
    align-items: center;
}

.div_konst {
    display: flex;
    color: #000000;
    font-weight: bolder;
    font-size: 12px;
    align-content: center;
    min-width: 35px;
    padding: 0 3px;

}

.inp_var {
    display: flex;
    max-width: 80px;

    color: #000000;
    font-weight: bolder;
    font-size: 11px;

    text-align: right;

    border: none;
    padding-right: 2px;
}

.inp_text {
    margin-right: 26px;
    min-height: 14px !important;
    border: none;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    line-height: 18px;
    padding-left: 2px;
}

.inp_vartime {
    height: 17px;
    font-size: 12px;
    font-weight: bolder;

    margin-top: 1px;
    margin-right: 26px;

    border-right: ridge 2px #00ffff;
    border-bottom: none;
    border-left: none;
    border-top: none;

}

.div_hmid_font {
    margin: 2px;
    font-size: 12px;
    color: #000000;
    white-space: nowrap;
    clear: both;
    font-stretch: 0;
    font-weight: lighter;

}

.div_hmid_val {
    margin: 2px;
    font-size: 10px;
    color: #000000;
    white-space: nowrap;
    clear: both;
    border: 1px dashed transparent;

}

.div_input {
    text-align: left;
    height: 18px;
}

.div_output1 {
    text-align: right;
    width: 20px;
    float: right;
    height: 100%;
}

.ui-widget {
    font-size: 1em !important;
}

.fbs_element_varoutput {

}

/*.onborder_top {*/
/*position: absolute;*/
/*top: -5px!important;*/
/*width: 100% !important;*/
/*height: 1px !important;*/
/*}*/

/*.onborder_bottom {*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100% !important;*/
/*height: 1px !important;*/

/*}*/

/*.onborder_left {*/
/*position: absolute;*/
/*left: -5px!important;*/
/*margin-top: -14px!important;*/
/*height: 100% !important;*/
/*width: 1px !important;*/
/*}*/

/*.onborder_right {*/
/*position: absolute;*/
/*right: 0;*/
/*margin-top: -14px!important;*/
/*height: calc(100%) !important;*/
/*width: 1px !important;*/

/*}*/

.onborder_t {
    position: absolute;
    top: -10px !important;
    bottom: auto !important;
}

.onborder_b {
    position: absolute;
    bottom: -10px  !important;
    top: auto !important;
}

.onborder_l {
    position: absolute;
    left: -25px  !important;
    right: auto !important;
}

.onborder_r {
    position: absolute;
    right:-25px  !important;
    left: auto !important;
}

/*Infobox XXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.info_box {

}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*Scrollbar Horizontal*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#scrollbar_body_h {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px !important;
    z-index: 300;
}

.scroll_bar_h {
    position: absolute !important;
}

.scrollbar_wrap_h {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: calc(100% - 22px);
    height: 14px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scroll-bar-wrap_h .ui-slider {
    border: 0;
    height: 14px;
    margin: 0 auto;
}

.scroll-bar-wrap_h .ui-handle-helper-parent {
    position: relative;
    width: 100%;
    height: 1px;
    margin: auto;
}

.scroll-bar-wrap_h .ui-slider-handle {
    top: 1px !important;
    height: 1.5em;
}

.scroll-bar-wrap_h .ui-slider-handle .ui-icon {
    margin: -8px auto 0;
    position: relative;
    top: 50%;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*Scrollbar Vertical*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#scrollbar_body_v {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 0px);
    width: 20px !important;
    z-index: 300;
}

#scrollbar_body_toolbox {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 0px);
    width: 20px !important;
}

#scrollbar_body_hmid {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 0px);
    width: 20px !important;
}

.scroll_bar_v {
    position: absolute !important;
}

.scrollbar_wrap_v {
    position: absolute;
    top: 10px !important;
    left: 2px;
    height: calc(100% - 30px);
    width: 14px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scroll-bar-wrap_v .ui-slider {
    border: 0;
    width: 14px;
    margin: 0 auto;
}

.scroll-bar-wrap_v .ui-handle-helper-parent {
    position: relative;
    height: 100%;
    width: 1px;
    margin: auto;
}

.scroll-bar-wrap_v .ui-slider-handle {
    left: 1px !important;
    width: 1.5em;
}

.scroll-bar-wrap_v .ui-slider-handle .ui-icon {
    margin: auto;
    position: relative;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* Save Dialog*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.text_save {
    size: 250px;
}

#txt_save {
    position: absolute;
    bottom: 80px;
    left: 10px;
    width: 490px;
}

#btn_save_ok {
    position: absolute !important;
    width: 150px !important;
    left: 10px;
    bottom: 20px;
}

#btn_save_ok {
    position: absolute !important;
    width: 150px !important;
    left: 10px;
    bottom: 20px;
}

#btn_save_del {
    position: absolute !important;
    width: 150px !important;
    left: 185px;
    bottom: 20px;
}

#btn_save_abbrechen {
    position: absolute !important;
    width: 150px !important;
    right: 10px;
    bottom: 20px;
}

#gbox_grid_save {
    position: absolute;
    left: 10px;
    top: 20px;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* open Dialog*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
#gbox_grid_open {
    position: absolute;
    left: 10px;
    top: 20px;
}

.ui-jqgrid-bdiv {
    overflow-x: hidden !important;
}

#btn_open_ok {
    position: absolute !important;
    width: 150px !important;
    left: 20px;
    bottom: 20px;
}

#btn_open_del {
    position: absolute !important;
    width: 150px !important;
    left: 185px;
    bottom: 20px;
}

#btn_open_abbrechen {
    position: absolute !important;
    width: 150px !important;
    right: 20px;
    bottom: 20px;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* HM ID Dialog*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.dialog_hmid {
    height: calc(100% - 100px) !important;
    width: 900px !important;
    overflow: hidden;
}

.dialog_hmid_inner {
    height: calc(100% - 50px) !important;
    width: calc(100% - 30px) !important;

}

#tb_head {
    overflow: hidden;
}

#tb_body {
    height: calc(100% - 150px) !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

#btn_hmid_ok {
    position: absolute !important;
    width: 150px !important;
    right: 50px;
    bottom: 20px;
}

/*#btn_hmid_abbrechen {*/
/*position: absolute !important;*/
/*width: 150px !important;*/
/*right: 30px;*/
/*bottom: 20px;*/
/*}*/

#iddialog_lab_id {
    position: absolute !important;
    bottom: 23px;
    left: 20px;
}

#iddialog_inp_id_direct {
    position: absolute !important;
    bottom: 20px;
    left: 55px;
    width: 100px;
    text-align: center;
}

#iddialog_lab_name {
    position: absolute !important;
    bottom: 23px;
    left: 185px;
}

#iddialog_lab_namedireckt {
    position: absolute !important;
    bottom: 23px;
    left: 250px;
}

/*__________________________________________________________________________________*/

.selectiondiv {
    border: 2px solid white;
    background: #1B94E0;
    opacity: 0.4;
    filter: alpha(opacity=40);
    margin: 0px;
    padding: 0px;
    display: none;
}
