body {
    border:none!important;
    height: 100%;
    width: 100%;
}

html {
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);

    border: ridge 5px #666566;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.menu_body {
    position: absolute;
    left: 0;
    top :0;
    height: 22px;
    width: 100%;
    z-index: 100;

}
.menu{
   margin-top: -7px!important;
   background: none!important;
   border: none!important;
}

.menu_font{
    position: relative;
    font-size: 10px;
    padding: 0!important;
    line-height: 2!important;
}

.icon_bar{

    position: absolute;
    left: 0;
    top :23px;
    height: 30px;
    width: 100%;
    z-index: 50;
}
.img_iconbar{
    height: 20px;
    width: 20px;
    padding: 4px;
    text-align: center;
    border: 1px solid transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}




.main {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0px;
    height: calc(100% - 55px);
    width: 100%;
    margin: 0!important;

}

.toolbox_body {
   position: absolute!important;
    width: 150px;
    top: 35px;
    height: calc(100% - 37px);
    overflow: auto;



}

.toolbox {
    width: 131px;
    min-height: 1000px;
    height: auto;
    background-color: #4B4B4B;
    text-align: center;
    display: inline-block;
}

.fbs {
    width: 90px;
    height: 60px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: #00ffff;



}
.prg_body {
    position: absolute!important;
    top: 0;
    left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    overflow: auto;


background-color: transparent!important;
}

.prg_panel {
    position:relative;
    width: 2000px;
    height: 2000px;
    border: 3px solid #ffffff;



}

.fbs_element {
    position: absolute;
    width: 90px;
    min-height: 30px;
    height: auto;

    margin: auto;
    /*z-index: 105;*/
    text-align: center;

    background-color: #ffffff;
    border: 2px solid #00ffff;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    border-radius: 10px;

    z-index: 3;

}

.div_head{

    width: 90px;
    height: 15px;

    background-color: #ffffff;
    border-bottom: 2px solid #00ffff;

    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}
.div_foot{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.head_font{
    position: relative;
    top:-2px;
    color: black !important;
    font-size: 14px;
}
.input_font{
    position: relative;
    color: black !important;
    top: 5px;
    left: 1px;
    font-size: 8px;
}

.output_font{
    position: relative;
    color: black !important;
    top: calc(50% - 10px);
    right: 2px;
    font-size: 8px;
}
.div_input {
    text-align: left;
    height: 30px;

}

.div_output1 {
    text-align: left;
    float: right;
    height: 100%;
}
.div_output2 {
    float: right;

    height: 50%;
}
.div_output3 {
    float: right;

    height: 33%;
}
.div_output4 {
    float: right;

    height: 33%;
}

.div_left{
    width: 30px;
}
.div_right{
    text-align: right;
    position: absolute;
    top: 15px;
    left:60px;
    height: calc(100% - 15px);
    width: 30px;
    vertical-align: middle;
}

.btn_add_input{
    width: 16px;
    height: 16px;
    background-image: url(../img/plus.png);
    border:none;
    background-color: transparent;
}

._jsPlumb_endpoint{

    z-index : 2;
}
._jsPlumb_connector{
    z-index : 1;

}

.fbs_selected{
    /* TODO box shadow anpassen*/
    -webkit-box-shadow: 0px 0px 8px #0ff7ff; /* webkit browser*/ -moz-box-shadow: 0px 0px 8px #0ff7ff; /* firefox */ box-shadow: 0px 0px 8px #0ff7ff;
}

#und{
    width: 100px;
    height: 68px;
    background: transparent url("../img/FBS/uni.png");
}

.icon_set{

    margin-top: 0;
    height: 31px;

    display: inline;
    border-right: 1px solid ;


;
}
