.ui-menu {
    overflow: hidden;
    margin: 0;
    margin-top: 3px;
    list-style: none outside none;
}
.ui-menu .ui-menu {
    overflow: visible !important;
    margin-top: -3px;
    border-radius: 6px;
    position: absolute;
}
.ui-menu > li {
    float: left;
    display: block;
    width: auto !important;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 2px 2px !important;
}
.ui-menu ul li {
    display: list-item;
    float: none;
    border: 1px solid transparent;
    border-radius: 6px;
}
.ui-menu ul li ul {
    width: 150px;
    display: flex;
    flex-direction: column;
    float: left;
    left: 88px !important;
}
.ui-menu ul li ul li {
    width:auto;
}
.ui-menu ul li ul li a {
    float:left;
}
.ui-menu > li {
    padding: 0 0 !important;
    width: auto !important;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 2px 2px !important;
    float: left;
}
.ui-menu > li > a {
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
    margin: -1px;
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
}
.ui-menu .ui-menu-icon {
    /*margin-top: -3px !important;*/
    width: 0;

}
.ui-menu .ui-menu .ui-menu li {
    display: flex;
}

/*-------------------------------------------*/
#ul_theme{

}