<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="tutorialApp">

<head >
    <title>ScriptGUI</title>
    <link href="img/icon/favicon.png" rel="shortcut icon" type="image/x-icon"/>


    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/controler.js"></script>


    <link rel="stylesheet" href="css/Main.css"/>
    <link rel="stylesheet" href="js/lib/fm/fm.css"/>

    <!--<link rel="stylesheet" href="css/ui-menu-horizontal.css"/>-->
    <link rel="stylesheet" href="css/jquery.contextMenu.css"/>
    <link rel="stylesheet" href="css/perfect-scrollbar.css"/>
    <link rel="stylesheet" media="screen" href="css/superfish/superfish.css"/>


    <link rel="stylesheet" href="css/jquery.selectBoxIt.css"/>

    <link rel="stylesheet" href="css/codemirror.css"/>
    <link rel="stylesheet" href="theme/monokai.css"/>

    <script src="../auth/auth.js" type="text/javascript"></script>
    <script src="../lang/lang.js" type="text/javascript"></script>
    <script src="../socket.io/socket.io.js"></script>

    <script type="text/javascript" src="js/lib/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.contextMenu.js"></script>

    <script type="text/javascript" src="js/lib/jquery.event.drag.js"></script>
    <!--<script type="text/javascript" src="js/lib/jquery.event.drag.live.js"></script>-->
    <script type="text/javascript" src="js/lib/alsoDrag.js"></script>
    <script type="text/javascript" src="js/lib/jquery.ba-resize.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/lib/loStorage.js"></script>
    <script type="text/javascript" src="js/lib/perfect-scrollbar.js"  id="script_scrollbar" ></script>
    <script type="text/javascript" src="js/lib/beautify.js"></script>
    <!--<script type="text/javascript" src="js/lib/jquery.inputmask.bundle.min.js"></script>-->
    <!--<script type="text/javascript" src="js/lib/deep-diff.min.js"></script>-->
    <script type="text/javascript" src="js/lib/jquery.selectBoxIt.min.js"></script>

    <!--<script type="text/javascript" src="js/lib/plump/jquery.jsPlumb-1.5.4.js"></script>-->
    <!--<script type="text/javascript" src="js/lib/plump1.6/jquery.jsPlumb-1.6.0.js"></script>-->
    <script type="text/javascript" src="js/lib/plumb/dom.jsPlumb-1.6.3.js"></script>
    <script type="text/javascript" src="js/lib/can.jquery.min.js"></script>
    <!--<script type="text/javascript" src="js/lib/jquery.jqGrid.min.js"></script>-->
    <script type="text/javascript" src="js/lib/jquery.numberMask.js"></script>
    <script type="text/javascript" src="js/lib/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="js/lib/html2canvas.min.js"></script>
    <script type="text/javascript" src="js/lib/FileSaver.js"></script>

    <script type="text/javascript" src="js/lib/canvg/rgbcolor.js"></script>
    <script type="text/javascript" src="js/lib/canvg/StackBlur.js"></script>
    <script type="text/javascript" src="js/lib/canvg/canvg.js"></script>
    <script type="text/javascript" src="js/lib/codemirror.js"></script>
    <script type="text/javascript" src="js/lib/cm/mode/javascript/javascript.js"></script>


    <script type="text/javascript" src="js/lib/superfish.js"></script>


    <script type="text/javascript" src="js/ScriptGUI.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/translate.js"></script>
    <script type="text/javascript" src="js/add_fbs.js"></script>
    <script type="text/javascript" src="js/add_mbs.js"></script>
    <script type="text/javascript" src="js/simulate.js"></script>
    <script type="text/javascript" src="js/compiler.js"></script>

    <script type="text/javascript" src="js/lib/fm/file_manager.js"></script>
    <script type="text/javascript" src="js/hmSelect_new.js"></script>
    <script type="text/javascript" src="js/xs_combo.js"></script>

</head>

<body id="body" ng-controller="GUICtrl" class="">

<div id="menu_body" class="menu_body ui-state-default">
    <ul id="menu" style="margin-top: 1px;" class="sf-menu">
        <li class="ui-state-default ui-corner-all"><a class=" translate">Datei</a>
            <ul class="">
                <li class="ui-state-default frame_color menu_item"><a id="m_neu"       class="translate">Neu</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_open"      class="translate">Öffnen</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_example"   class="translate">Vorlagen</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_save"      class="translate">Speichern</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_save_as"   class="translate">Speichern als</a></li>
                <li class="ui-state-default frame_color menu_item"><a                  class="translate">Export</a></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all"><a class="menu_font translate">Einstellungen</a>
            <ul class="">
                <li class="ui-state-default frame_color menu_item"><a class="translate">Theme</a>
                    <ul id="ul_theme" class="" >
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="dark-hive">Dark-Hive</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="start">Start</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="humanity">humanity</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="blitzer">blitzer</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="swanky-purse">Swanky Purse</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="black-tie">Black Tie</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="cupertino">Cupertino</a></li>
                    <!--<li class="ui-state-default frame_color menu_item"><a class="translate" data-info="dot-lov">Dot Lov</a></li>-->
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="eggplant">Eggplant</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="excite-bike">excite-bike</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="flick">flick</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="le-frog">le-frog</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="mint-choc">mint-choc</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="overcast">overcast</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="pepper-grinder">pepper-grinder</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="redmond">redmond</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="smoothness">smoothness</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="south-street">south-street</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="sunny">sunny</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="trontastic">trontastic</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="ui-darkness">ui-darkness</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="ui-lightness">ui-lightness</a></li>
                        <li class="ui-state-default frame_color menu_item"><a class="translate" data-info="vader">vader</a></li>
                    </ul>
                </li>
                <li class="ui-state-default frame_color menu_item"><a class="translate">Mode</a>
                    <ul id="ul_mode" class="">
                        <li class="ui-state-default frame_color menu_item"><a id="m_mode_editor" class="translate" >Editor</a></li>
                        <li class="ui-state-default frame_color menu_item"><a id="m_mode_gui" class="item_font   translate" >GUI</a></li>
                    </ul>
                </li>
                <li class="ui-state-default frame_color menu_item"><a id="m_setup" class="translate">Setup</a></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all"><a class="menu_font translate">Compiler</a>
            <ul class="">
                <li class="ui-state-default frame_color menu_item"><a id="m_show_script" class="translate">Zeige Script</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_save_script" class="translate">Speicher Script</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_del_script" class="translate">Lösche Script</a></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all"><a class="menu_font translate">Help</a>
            <ul class="">
                <li class="ui-state-default frame_color menu_item"><a id="m_quick-help" class="translate">Schnell Hilfe</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_shortcuts" class="translate">Tastenkominationen</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_video" class="translate">Video Tutorials</a></li>
            </ul>
        </li>
        <li id="develop_menu" style="display: none" class=""><a class="menu_font translate">Develop</a>
            <ul class="">
                <li class="ui-state-default frame_color menu_item"><a id="m_open_lfile" class="translate">Lade Datei</a><input type="file" id="m_open_lfile_input" style="height: 0; width: 0 "/></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_mbs-image" style="white-space:nowrap;" class="translate">MBS Image</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_fbs-image" style="white-space:nowrap;" class="translate">FBS Image</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_new-struck" style="white-space:nowrap;" class="translate">New Struck</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_add_fir_bug" style="white-space:nowrap;" class="translate">Add FireBug</a></li>
                <li class="ui-state-default frame_color menu_item"><a id="m_show_debugscript" style="white-space:nowrap;" class="translate">Show Debugscript</a></li>
            </ul>
        </li>
    </ul>

    <a id="m_file" class="translate">Neu</a>
    <a id="m_file_lb" class="translate">Datei:</a>
</div>

<div id="icon_bar" class="icon_bar ui-state-default">

    <img alt="" src="img/icon/move_to_folder.png" class="img_iconbar set_local title_translate" id="img_save_local" title="Speicher local"/>
    <img alt="" src="img/icon/folder.png" class="img_iconbar set_local title_translate" id="img_open_local" title="Öffnen local"/>

    <img alt="" src="img/icon/shape_align_left.png" class="img_iconbar set_algin title_translate" id="img_set_left" title="Links Ausrichten"/>
    <img alt="" src="img/icon/shape_align_right.png" class="img_iconbar set_algin title_translate" id="img_set_right" title="Rechts Ausrichten"/>
    <img alt="" src="img/icon/shape_align_top.png" class="img_iconbar set_algin title_translate" id="img_set_top" title="Oben Ausrichten"/>
    <img alt="" src="img/icon/shape_align_bottom.png" class="img_iconbar set_algin title_translate" id="img_set_bottom" title="Unten Ausrichten"/>
    <img alt="" src="img/icon/shape_move_back.png" class="img_iconbar set_algin title_translate" id="img_set_steps" title="Diagonal Ausrichten"/>

    <img alt="" src="img/icon/zoom.png" class="img_iconbar set_zoom title_translate" id="img_set_zoom" title="Zoom zuckrücksetzen"/>
    <img alt="" src="img/icon/zoom_in.png" class="img_iconbar set_zoom title_translate" id="img_set_zoom_in" title="Zoom In"/>
    <img alt="" src="img/icon/zoom_out.png" class="img_iconbar set_zoom title_translate" id="img_set_zoom_out" title="Zoom Out"/>

    <img alt="" src="img/icon/table.png" class="img_iconbar ui-state-focus set_grid title_translate" id="img_set_grid_on" title="An Grid fangen ON/OFF"/>
    <img alt="" src="img/icon/information.png" class="img_iconbar ui-state-focus set_tooltip title_translate" id="img_set_tooltip_on" title="Tooltip ON/OFF"/>

    <img alt="" src="img/icon/cog.png" class="img_iconbar script_engine title_translate" id="img_set_script_engine" title="Scriptengine Neustarten"/>


</div>
<div id="main" class="main ui-widget-content">
<div id="toolbox_select" class="toolbox_select">
</div>

<div id="toolbox_body" class="toolbox_body">
<div id="toolbox_alg" class="toolbox frame_color ui-state-default">
    <div id="komex" class="mbs">
        <img alt="" src="img/FBS/komex.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="scriptobj" class="mbs">
        <img alt="" src="img/FBS/scriptobj.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="ccuobj" class="mbs">
        <img alt="" src="img/FBS/ccuobj.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="ccuobjpersi" class="mbs">
        <img alt="" src="img/FBS/ccuobjpersi.png" onError="this.src='img/icon/image.png';">
    </div>
</div>

<div id="toolbox_prog" class="toolbox frame_color ui-state-default">
    <div id="codebox" class="mbs">
        <img alt="" src="img/FBS/codebox.svg" onError="this.src='img/icon/image.png';">
    </div>
    <div id="next" class="fbs">
        <img alt="" src="img/FBS/next.svg" onError="this.src='img/icon/image.png';">
    </div>
    <div id="next1" class="fbs">
        <img alt="" src="img/FBS/next1.svg" onError="this.src='img/icon/image.png';">
    </div>
    <div id="brake" class="mbs">
        <img alt="" src="img/FBS/brake.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="intervall" class="mbs">
        <img alt="" src="img/FBS/intervall.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="loop" class="mbs">
        <img alt="" src="img/FBS/loop.png" onError="this.src='img/icon/image.png';">
    </div>
</div>

<div id="toolbox_logic" class="toolbox frame_color ui-state-default">
    <div id="und" class="fbs">
        <img alt="" src="img/FBS/und.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="oder" class="fbs">
        <img alt="" src="img/FBS/oder.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="not" class="fbs">
        <img alt="" src="img/FBS/not.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="wenn" class="fbs">
        <img alt="" src="img/FBS/wenn.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="timespan" class="fbs">
        <img alt="" src="img/FBS/timespan.png" onError="this.src='img/icon/image.png';">
    </div>
    <br>
    <hr>
    <div id="verketten" class="fbs">
        <img alt="" src="img/FBS/verketten.png" onError="this.src='img/icon/image.png';">
    </div>
</div>

<div id="toolbox_filter" class="toolbox frame_color ui-state-default">
    <div id="lfdevice" class="fbs">
        <img alt="" src="img/FBS/lfdevice.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="lfchannel" class="fbs">
        <img alt="" src="img/FBS/lfchannel.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="lfdp" class="fbs">
        <img alt="" src="img/FBS/lfdp.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="lfwert" class="fbs">
        <img alt="" src="img/FBS/lfwert.png" onError="this.src='img/icon/image.png';">
    </div>
</div>

<div id="toolbox_io" class="toolbox frame_color ui-state-default">
    <div id="input" class="fbs">
        <img alt="" src="img/FBS/input.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="linput" class="fbs">
        <img alt="" src="img/FBS/linput.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="inputlocal" class="fbs">
        <img alt="" src="img/FBS/inputlocal.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="output" class="fbs">
        <img alt="" src="img/FBS/output.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="outputlocal" class="fbs">
        <img alt="" src="img/FBS/outputlocal.png" onError="this.src='img/icon/image.png';">
    </div>
    <br>
    <hr>
    <div id="true" class="fbs">
        <img alt="" src="img/FBS/true.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="false" class="fbs">
        <img alt="" src="img/FBS/false.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="zahl" class="fbs">
        <img alt="" src="img/FBS/zahl.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="string" class="fbs">
        <img alt="" src="img/FBS/string.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="vartime" class="fbs">
        <img alt="" src="img/FBS/vartime.png" onError="this.src='img/icon/image.png';">
    </div>
    <br>
    <hr>
    <div id="mail" class="fbs">
        <img alt="" src="img/FBS/mail.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="pushover" class="fbs">
        <img alt="" src="img/FBS/pushover.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="debugout" class="fbs">
        <img alt="" src="img/FBS/debugout.png" onError="this.src='img/icon/image.png';">
    </div>
</div>

<div id="toolbox_math" class="toolbox frame_color ui-state-default">
    <div id="inc" class="fbs">
        <img alt="" src="img/FBS/inc.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="dec" class="fbs">
        <img alt="" src="img/FBS/dec.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="summe" class="fbs">
        <img alt="" src="img/FBS/summe.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="differenz" class="fbs">
        <img alt="" src="img/FBS/differenz.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="round" class="fbs">
        <img alt="" src="img/FBS/round.png" onError="this.src='img/icon/image.png';">
    </div>
</div>

<div id="toolbox_convert" class="toolbox frame_color ui-state-default">
    <div id="toint" class="fbs">
        <img alt="" src="img/FBS/toint.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="tofloat" class="fbs">
        <img alt="" src="img/FBS/tofloat.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="tostring" class="fbs">
        <img alt="" src="img/FBS/tostring.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="toh" class="fbs">
        <img alt="" src="img/FBS/toh.png" onError="this.src='img/icon/image.png';">
    </div>
</div>

<div id="toolbox_s_trigger" class="toolbox frame_color ui-state-default">
    <div id="trigger_event" class="mbs">
        <img alt="" src="img/FBS/trigger_event.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_EQ" class="mbs">
        <img alt="" src="img/FBS/trigger_EQ.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_NE" class="mbs">
        <img alt="" src="img/FBS/trigger_NE.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_GT" class="mbs">
        <img alt="" src="img/FBS/trigger_GT.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_GE" class="mbs">
        <img alt="" src="img/FBS/trigger_GE.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_LT" class="mbs">
        <img alt="" src="img/FBS/trigger_LT.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_LE" class="mbs">
        <img alt="" src="img/FBS/trigger_LE.png" onError="this.src='img/icon/image.png';">
    </div>
    <!--<div id="trigger_valNe" class="mbs">-->
    <!--<img alt="" src="img/FBS/trigger-valNe.png" onError="this.src='img/icon/image.png';">-->
    <!--</div>-->
    <!--XXXXXXX  Muss  Später ganz gelöscht werden XXXXXXXXX-->
    <div id="trigger_val" class="mbs">
        <img alt="" src="img/FBS/trigger_val.png" onError="this.src='img/icon/image.png';">
    </div>
</div>

<div id="toolbox_t_trigger" class="toolbox frame_color ui-state-default">
    <div id="trigger_start" class="mbs">
        <img alt="" src="img/FBS/trigger_start.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_time" class="mbs">
        <img alt="" src="img/FBS/trigger_time.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_vartime" class="mbs">
        <img alt="" src="img/FBS/trigger_vartime.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_zykm" class="mbs">
        <img alt="" src="img/FBS/trigger_zykm.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_astro" class="mbs">
        <img alt="" src="img/FBS/trigger_astro.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_yearly" class="mbs">
        <img alt="" src="img/FBS/trigger_yearly.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigger_monthly" class="mbs">
        <img alt="" src="img/FBS/trigger_monthly.png" onError="this.src='img/icon/image.png';">
    </div>
</div>

<div id="toolbox_trigger_daten" class="toolbox frame_color ui-state-default">
    <div id="trigvalue" class="fbs">
        <img alt="" src="img/FBS/trigvalue.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigtime" class="fbs">
        <img alt="" src="img/FBS/trigtime.png" onError="this.src='img/icon/image.png';">
    </div>
    <br>
    <hr>
    <div id="trigoldvalue" class="fbs">
        <img alt="" src="img/FBS/trigoldvalue.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigoldtime" class="fbs">
        <img alt="" src="img/FBS/trigoldtime.png" onError="this.src='img/icon/image.png';">
    </div>
    <br>
    <hr>
    <div id="trigid" class="fbs">
        <img alt="" src="img/FBS/trigid.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigname" class="fbs">
        <img alt="" src="img/FBS/trigname.png" onError="this.src='img/icon/image.png';">
    </div>
    <br>
    <hr>


    <div id="trigchid" class="fbs">
        <img alt="" src="img/FBS/trigchid.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigchname" class="fbs">
        <img alt="" src="img/FBS/trigchname.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigchtype" class="fbs">
        <img alt="" src="img/FBS/trigchtype.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigchfuncIds" class="fbs">
        <img alt="" src="img/FBS/trigchfuncIds.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigchroomIds" class="fbs">
        <img alt="" src="img/FBS/trigchroomIds.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigchfuncNames" class="fbs">
        <img alt="" src="img/FBS/trigchfuncNames.png" onError="this.src='img/icon/image.png';">
    </div>
    <div id="trigchroomNames" class="fbs">
        <img alt="" src="img/FBS/trigchroomNames.png" onError="this.src='img/icon/image.png';">
    </div>

    <br>
    <hr>
    <!--<div id="trigdevid" class="fbs">-->
        <!--<img alt="" src="img/FBS/trigdevid.png" onError="this.src='img/icon/image.png';">-->
    <!--</div>-->
    <!--<div id="trigdevname" class="fbs">-->
        <!--<img alt="" src="img/FBS/trigdevname.png" onError="this.src='img/icon/image.png';">-->
    <!--</div>-->
    <!--<div id="trigdevtype" class="fbs">-->
        <!--<img alt="" src="img/FBS/trigdevtype.png" onError="this.src='img/icon/image.png';">-->
    <!--</div>-->


</div>
<div id="toolbox_expert" class="toolbox frame_color ui-state-default">
    <div id="expert" class="fbs">
        <img alt="" src="img/FBS/expert.png" onError="this.src='img/icon/image.png';">
    </div>
</div>
</div>
<div id="prg_body" class="prg_body scroll-pane ">
    <div id="prg_panel" class="prg_panel scroll-content">
    </div>
</div>
</div>
<div id="sim_log" class="sim_log frame_color ui-state-default">
    <div id="sim_log_head" class="sim_log_head ui-state-default"></div>
    <div class="div_sim_controll">
        <div class="item_font translate" style="align-self: flex-start; font-size: 26px;font-weight: bold; padding-bottom: 5px; padding-left: 5px"> Live Test</div>
        <div class="div_sim_controll_icons">
            <img alt="" style="height: 30px; width: 30px" src="img/icon/play.png" class="img_iconbar script_engine set_script title_translate" id="img_set_script_play"
                 title="Teste Script"/>
            <img alt="" style="height: 30px; width: 30px" src="img/icon/stop.png" class="img_iconbar script_engine set_script title_translate" id="img_set_script_stop"
                 title="Stop"/>
            <button class="translate" id="clear_force" >Force entfernen</button>
        </div>

    </div>

    <div id="sim_output_body"
         class="sim_output_body">
        <!--<div id="sim_output_text_body" style="height: 100%">-->
        <table id="sim_output" class="sim_output">

        </table>
        <!--</div>-->
    </div>
</div>
<div id="setup_dialog" class="" >
    <input class="focus_dummy" style="border:none;height: 1px;padding: 1px;width: 1px;background: transparent;z-index: 101" type="button"/>
     <div id="setup_cat" class="frame_color ui-state-default">
         <a data-info="setup_alg" class="translate setup_cat">Allgemein</a>
         <a data-info="setup_startup" class="translate setup_cat">Startup</a>
         <a data-info="setup_con" class="translate setup_cat">Verbindung</a>
         <a data-info="setup_data" class="translate setup_cat">Data Archiv</a>
         <a data-info="setup_editor" class="translate setup_cat">Editor</a>
     </div>
     <div id="setup_field" class="frame_color ui-state-default">
         <div id="setup_alg" class="setup_field_content">
             <span style="display: block; font-size: 20px; font-weight: bold; padding: 5px;" class="translate">Allgemein</span>
             <table>
                 <tr>
                     <td style="width: 200px" class="translate">Sprache</td>
                     <td><select class="setup_select ui-state-default frame_color " ng-model="setup.lang">
                         <option value="de">Deutsch</option>
                         <option value="en">English</option>
                         <option value="ru">Rusisch</option>
                     </select>
                     </td>
                 </tr>
                 <tr>
                     <td class="translate">2</td>
                     <td>b</td>
                 </tr>
                    <tr>
                        <td class="translate">3</td>
                     <td>c</td>
                 </tr>
                    <tr>
                        <td class="translate">4</td>
                     <td>d</td>
                 </tr>
             </table>
         </div>
         <div id="setup_startup" class="setup_field_content">
             <span style="display: block; font-size: 20px; font-weight: bold; padding: 5px;" class="translate">Startup</span>
             <table>
                 <tr>
                     <td class="translate">Thema</td>
                     <td>
                         <select class="setup_select ui-state-default frame_color "  ng-model="setup.theme">
                              <option value="dark-hive">Dark-Hive</option>
                              <option value="start">Start</option>
                              <option value="humanity">humanity</option>
                              <option value="blitzer">blitzer</option>
                              <option value="swanky-purse">Swanky Purse</option>
                              <option value="black-tie">Black Tie</option>
                              <option value="cupertino">Cupertino</option>
                              <option value="dot-lov">Dot Lov</a</option>
                              <option value="eggplant">Eggplant</option>
                              <option value="excite-bike">excite-bike</option>
                              <option value="flick">flick</option>
                              <option value="le-frog">le-frog</option>
                              <option value="mint-choc">mint-choc</option>
                              <option value="overcast">overcast</option>
                              <option value="pepper-grinder">pepper-grinder</option>
                              <option value="redmond">redmond</option>
                              <option value="smoothness">smoothness</option>
                              <option value="south-street">south-street</option>
                              <option value="sunny">sunny</option>
                              <option value="trontastic">trontastic</option>
                              <option value="ui-darkness">ui-darkness</option>
                              <option value="ui-lightness">ui-lightness</option>
                              <option value="vader">vader</option>
                        </select>
                     </td>
                 </tr>
                 <tr style="border-bottom: 1px solid inherit; ">
                     <td style="width: 200px" class="translate">Am Gitter Fangen</td>
                     <td>
                         <input type="checkbox" class="setup_checkbox"  ng-model="setup.snap_grid"/>
                     </td>
                 </tr>
                 <tr>
                     <td style="width: 150px" class="translate">ToolTip</td>
                     <td>
                         <input type="checkbox" class="setup_checkbox"  ng-model="setup.tooltip"/>
                     </td>
                 </tr>
                 <tr>
                     <td style="width: 150px" class="translate">Live Test open</td>
                     <td>
                         <input type="checkbox" class="setup_checkbox"  ng-model="setup.LT_open"/>
                     </td>
                 </tr>
                 <tr>
                     <td class="translate">4</td>
                     <td>d</td>
                 </tr>
             </table>
         </div>
         <div id="setup_con" class="setup_field_content">
             <span style="display: block; font-size: 20px; font-weight: bold; padding: 5px;" class="translate">Verbindung</span>

         </div>
         <div id="setup_data" class="setup_field_content">
             <span style="display: block; font-size: 20px; font-weight: bold; padding: 5px;" class="translate">Data Archiv</span>
         </div>
         <div id="setup_editor" class="setup_field_content">
             <span style="display: block; font-size: 20px; font-weight: bold; padding: 5px;" class="translate">Editor</span>
         </div>
     </div>
</div>
<div id="selection" class="selectiondiv"></div>
</body>
</html>
